DATABASE_NAME=rentiq_db
DATABASE_USER=rentiq_user
DATABASE_PASSWORD=RentIQ2025!
DATABASE_HOST=db
DATABASE_PORT=5432

# django config
SECRET_KEY="qzm+p9-cigc^znvo)vmpf24jvg6uu2wrz1$yt2e)$zmywb=(@@"
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Pinecone and OpenAI config
PINECONE_API_KEY=pcsk_5AZCAJ_N2SzvUeTE1HDC7GzYAT9La9AB94gUVJkJ5ewQ7bhjtDYGWhRTTvMnT7sm8m9bZB
#PINECONE_ENVIRONMENT=your-pinecone-environment
PINECONE_INDEX_NAME=listings-index
OPENAI_API_KEY=add_your_openAI_api_key_here